# Copyright (c) 2009-2012, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on init
    # HMP scheduler settings
    write /proc/sys/kernel/sched_ravg_hist_size 3
    write /proc/sys/kernel/sched_window_stats_policy 3

    # HMP Task packing settings for 8226
    write /proc/sys/kernel/sched_small_task 50

    # Configure the hardware properly
    write /sys/module/lpm_levels/enable_low_power/l2 4
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/retention/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/retention/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/retention/suspend_enabled 1

    # disable thermal core_control to update governor settings
    write /sys/module/msm_thermal/core_control/enabled 0

    # Switch to interactive gonvernor and configure it
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "25000 1094400:50000"
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1094400
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "70 998400:80 1094400:90"
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 50000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpufreq/interactive/sampling_down_factor 50000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 787200
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 787200
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 787200
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 787200

    chown root system /sys/devices/system/cpu/cpu1/online
    chown root system /sys/devices/system/cpu/cpu2/online
    chown root system /sys/devices/system/cpu/cpu3/online
    chmod 664 /sys/devices/system/cpu/cpu1/online
    chmod 664 /sys/devices/system/cpu/cpu2/online
    chmod 664 /sys/devices/system/cpu/cpu3/online

    # enable thermal core_control now
    write /sys/module/msm_thermal/core_control/enabled 1

    # Configure the cpu-boost module
    write /sys/module/cpu_boost/parameters/boost_ms 20
    write /sys/module/cpu_boost/parameters/sync_threshold 998400
    write /sys/module/cpu_boost/parameters/input_boost_freq 1094400
    write /sys/module/cpu_boost/parameters/input_boost_ms 40

    # Set RPS mask
    write /sys/class/net/rmnet0/queues/rx-0/rps_cpus 2

    # add a cpuset for the camera daemon
    # we want all the cores for camera
    mkdir /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

    # Update foreground and background cpusets
    # Reserve CPU 3 for the top app
    write /dev/cpuset/foreground/cpus 0-2
    write /dev/cpuset/background/cpus 0-2
    write /dev/cpuset/system-background/cpus 0-1
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/camera-daemon/cpus 0-3
  
on charger
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/module/lpm_levels/enable_low_power/l2 4
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 0
    write /sys/module/msm_pm/modes/cpu1/power_collapse/idle_enabled 0
    write /sys/module/msm_pm/modes/cpu2/power_collapse/idle_enabled 0
    write /sys/module/msm_pm/modes/cpu3/power_collapse/idle_enabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "interactive"

on property:sys.boot_completed=1
    setprop vendor.post_boot.parsed 1
    # Post boot services
    rm /data/system/perfd/default_values
    start mpdecision
