allow hal_light_default sysfs:file { getattr write open read };
allow hal_light_default sysfs_sec_led:dir { getattr write open read search };
allow hal_light_default sysfs_sec_led:file { getattr write open read };
