allow init debugfs:dir mounton;
allow init kernel:security check_context;
allow init rtc_device:chr_file ioctl;
allow init self:netlink_kobject_uevent_socket read;
allow init self:socket create;
allow init smd_device:chr_file write;
allow init tee_device:chr_file { ioctl write };
allow init video_device:chr_file { ioctl write };
allow init wcnss_device:chr_file write;
