allow keystore vfat:dir search;
allow keystore vfat:file r_file_perms;
allow keystore wificond:dir search;
allow keystore wificond:file r_file_perms;
allow keystore wificond:process getattr;
